@import url('./assets/themeDark.css');
@import url('./assets/themeWhite.css');
body {
  font-family: 'Gill Sans', sans-serif;
  color: var(--color-base-text)
}
#app {
  width: 100%;
  height: 100vh;
}
.el-icon {
  color: var(--el-color-icon-base);
}
.el-menu {
  border-right: 0;
}
